.tot {
  background: #464646;
  min-height: 100%;
  padding: 5px;
  padding-bottom: 80px;
}
.bloco {
  background: #313132;
margin-top: 7px;
  border-radius: 10px;
  color: white
}
#imgProduto {
  border-radius: 44px;
  width: 90px;
  height: 90px;
}
p {
  font-size: 15px;
  color: white;
}
ion-label {
  font-size: 23px;
  color: #57d055;
}
.msgd{
    text-align: center;
    margin-top: 20%;
    color: #57d055;
}
