#tot {
    background: #464646;
    width: 100%;
  }
  #bloco {
    background: #464646;
  }
  ion-label {
    color: white;
    font-size: 25px;
  }
  header {
    text-align: center;
  }
  .item {
    border-radius: 100px;
    margin-top: 8px;
  }
  #title {
    margin-left: 0%;
  }
  .error-message{
    color:red;
    text-align: center;
  }
  #img{
    width: 100%;
    width: 100%;
    border: 0;
    max-height: 300px;
    min-height: 250px;
  }